force-app/main/default/flows/Map_Employment_details_from_Interaction_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Employment Details Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This flow will be used to map employment details from latest interaction to its corresponding Account</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(ISNEW(),OR([Interaction__c].RecordType.DeveloperName=&#39;Company_Intelligence&#39;, [Interaction__c].RecordType.DeveloperName=&#39;Company_Intelligence_Person_Account&#39;) ,OR(AND([Interaction__c].Last_Year_Employment_Total__c&gt;0, NOT(ISBLANK([Interaction__c].Last_Year_Employment_Total__c))), AND([Interaction__c].Current_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Current_Year_Employment_Total__c))),NOT(ISBLANK(TEXT([Interaction__c].Empl_Incr_or_Decr_Next_12_Months__c))),NOT(ISBLANK(TEXT([Interaction__c].Employment_Information_Source__c))),NOT(ISBLANK([Interaction__c].Employment_Change_In_Next_12_Months__c)))),AND(ISCHANGED([Interaction__c].Current_Year_Employment_Total__c),[Interaction__c].Current_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Current_Year_Employment_Total__c))),AND(ISCHANGED([Interaction__c].Last_Year_Employment_Total__c),[Interaction__c].Last_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Last_Year_Employment_Total__c))),ISCHANGED([Interaction__c].Employment_Change_In_Next_12_Months__c),ISCHANGED([Interaction__c].Employment_Information_Source__c),ISCHANGED([Interaction__c].Empl_Incr_or_Decr_Next_12_Months__c)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(ISNEW(),OR({!myVariable_current.RecordType.DeveloperName}=&#39;Company_Intelligence&#39;, {!myVariable_current.RecordType.DeveloperName}=&#39;Company_Intelligence_Person_Account&#39;) ,OR(AND({!myVariable_current.Last_Year_Employment_Total__c}&gt;0, NOT(ISBLANK({!myVariable_current.Last_Year_Employment_Total__c}))), AND({!myVariable_current.Current_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_current.Current_Year_Employment_Total__c}))),NOT(ISBLANK(TEXT({!myVariable_current.Empl_Incr_or_Decr_Next_12_Months__c}))),NOT(ISBLANK(TEXT({!myVariable_current.Employment_Information_Source__c}))),NOT(ISBLANK({!myVariable_current.Employment_Change_In_Next_12_Months__c})))),AND(ISCHANGED({!myVariable_current.Current_Year_Employment_Total__c}),{!myVariable_current.Current_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_current.Current_Year_Employment_Total__c}))),AND(ISCHANGED({!myVariable_current.Last_Year_Employment_Total__c}),{!myVariable_current.Last_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_current.Last_Year_Employment_Total__c}))),ISCHANGED({!myVariable_current.Employment_Change_In_Next_12_Months__c}),ISCHANGED({!myVariable_current.Employment_Information_Source__c}),ISCHANGED({!myVariable_current.Empl_Incr_or_Decr_Next_12_Months__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(ISNEW(),OR([Interaction__c].RecordType.DeveloperName=&#39;Company_Intelligence&#39;, [Interaction__c].RecordType.DeveloperName=&#39;Company_Intelligence_Person_Account&#39;) ,OR(AND([Interaction__c].Last_Year_Employment_Total__c&gt;0, NOT(ISBLANK([Interaction__c].Last_Year_Employment_Total__c))), AND([Interaction__c].Current_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Current_Year_Employment_Total__c))),NOT(ISBLANK(TEXT([Interaction__c].Empl_Incr_or_Decr_Next_12_Months__c))),NOT(ISBLANK(TEXT([Interaction__c].Employment_Information_Source__c))),NOT(ISBLANK([Interaction__c].Employment_Change_In_Next_12_Months__c)))),AND(ISCHANGED([Interaction__c].Current_Year_Employment_Total__c),[Interaction__c].Current_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Current_Year_Employment_Total__c))),AND(ISCHANGED([Interaction__c].Last_Year_Employment_Total__c),[Interaction__c].Last_Year_Employment_Total__c&gt;0,NOT(ISBLANK([Interaction__c].Last_Year_Employment_Total__c))),ISCHANGED([Interaction__c].Employment_Change_In_Next_12_Months__c),ISCHANGED([Interaction__c].Employment_Information_Source__c),ISCHANGED([Interaction__c].Empl_Incr_or_Decr_Next_12_Months__c)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(ISNEW(),OR({!myVariable_old.RecordType.DeveloperName}=&#39;Company_Intelligence&#39;, {!myVariable_old.RecordType.DeveloperName}=&#39;Company_Intelligence_Person_Account&#39;) ,OR(AND({!myVariable_old.Last_Year_Employment_Total__c}&gt;0, NOT(ISBLANK({!myVariable_old.Last_Year_Employment_Total__c}))), AND({!myVariable_old.Current_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_old.Current_Year_Employment_Total__c}))),NOT(ISBLANK(TEXT({!myVariable_old.Empl_Incr_or_Decr_Next_12_Months__c}))),NOT(ISBLANK(TEXT({!myVariable_old.Employment_Information_Source__c}))),NOT(ISBLANK({!myVariable_old.Employment_Change_In_Next_12_Months__c})))),AND(ISCHANGED({!myVariable_old.Current_Year_Employment_Total__c}),{!myVariable_old.Current_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_old.Current_Year_Employment_Total__c}))),AND(ISCHANGED({!myVariable_old.Last_Year_Employment_Total__c}),{!myVariable_old.Last_Year_Employment_Total__c}&gt;0,NOT(ISBLANK({!myVariable_old.Last_Year_Employment_Total__c}))),ISCHANGED({!myVariable_old.Employment_Change_In_Next_12_Months__c}),ISCHANGED({!myVariable_old.Employment_Information_Source__c}),ISCHANGED({!myVariable_old.Empl_Incr_or_Decr_Next_12_Months__c}))</expression>
    </formulas>
    <interviewLabel>Map_Employment_details_from_Interaction_to_Account-5_InterviewLabel</interviewLabel>
    <label>Map Employment details from Interaction to Account</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Interaction__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Interaction__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Related Account</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Year Employment - Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Year_Employment_Total__c</field>
            <value>
                <elementReference>myVariable_current.Current_Year_Employment_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Empl. Incr. or Decr. Next 12 Months</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Empl_Incr_or_Decr_Next_12_Months__c</field>
            <value>
                <elementReference>myVariable_current.Empl_Incr_or_Decr_Next_12_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Employment Change In Next 12 Months</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Employment_Change_In_Next_12_Months__c</field>
            <value>
                <elementReference>myVariable_current.Employment_Change_In_Next_12_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Employment Information Source</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Employment_Information_Source__c</field>
            <value>
                <elementReference>myVariable_current.Employment_Information_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Year Employment - Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Year_Employment_Total__c</field>
            <value>
                <elementReference>myVariable_current.Last_Year_Employment_Total__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
